__pycache__
.pytest_cache
.cache
dist
.env
.venv
env/
venv/

# for mac
*.DS_Store*


.vscode

# images data
*/*/*/data/
# *.png

# microbiome data
*/raw_data/
*.gz

# OpenCV JS
opencv.js
# OpencCV source code
opencv
# Emscripten
emsdk
# Builed js
build_js
# Node modules
node_modules

# training data analyst
training-data-analyst