{% extends 'base.html' %}

{% block bodyblock %}
<div class="container">
    <br>
    <h2 class="content"><span style="color: #1261A0">FaceID</span> Facical Recognition</h2>
    <br>
    <p class="lead">Facial recognition apps can identify faces by analyzing video frames, close-ups, or distance photos. The program identifies certain points, or nodes, of a person’s face.
        The nodes, along with skin surface analysis and 3D face mapping, are used to determine a face’s features.</p>
    
    <img src="{{ url_for('static', filename='images/app_pipeline.png')}}" alt="faceid" width="900" height="300">
    <br>

    <div class="container">
        <br>
        <form class="form-inline" action="#" method="POST" enctype="multipart/form-data">
            <label for="upload">Upload Photo</label>
            <input class="custom-file-input" type="file" id="upload" name="image" required="true">
            <input class="btn btn-primary" type="submit" value="Get the result">
        </form>
    </div>

    <br>
    {% if fileupload %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="predict">
                <img src="{{ url_for('static', filename='uploads/')}}{{ img_name }}" alt="fitpet" width="{{ w }}" height="350">
            </div>

            <div class="col-md-6" id="predict">
                <img src="{{ url_for('static', filename='results/')}}{{ img_name }}" alt="fitpet" width="{{ w }}" height="350">
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}